# for WebStorm
.idea/

# for npm
node_modules/
npm-debug.log

# for gulp
.tscache/
coverage/
typings/

# for test
test-espowered/
test/e2e/**/
!test/e2e/utils/
!test/e2e/utils/**/
!test/e2e/fixtures/
!test/e2e/fixtures/**/

# TypeScript
*.js
*.js.map
!gulpfile.js
!index.js
!standalone-entry.js
!test/e2e/utils/dummy.js
